main {
  display: flex;
  flex-wrap: wrap;
  .table {
    flex: 3 1 500px;
    padding: 1.5rem 2rem 1.5rem 2rem;
    table {
      th {
        font-size: 1.5rem;
        padding-bottom: 1rem;
      }
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.2s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: #ffd2b8;
        }
      }
      a {
        text-decoration: none;
        color: #e08958;
        &:hover {
          color: white;
        }
      }
    }
  }
  .picture {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 30vw;
    }
    .orangeRect {
      width: 30vw;
      height: 75vh;
      background-color: #e08958;
      position: absolute;
      top: 30px;
      left: 80px;
      z-index: -1;
    }
  }
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    .picture {
      display: flex;
      justify-content: center;
      flex: 1 1 100px;
      align-items: center;
      img {
        width: 40vw;
      }
      div.orangeRect {
        display: none;
      }
    }
  }
}
